.galary__cards-list {
  margin: 0;
  padding: 47px 0 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0;
}

@media screen and (max-width: 879px) {
  .galary__cards-list {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 580px) {
  .galary__cards-list {
    padding: 36px 0 0;
    justify-content: center;
    min-width: 320px;
  }
}
